<footer class="main-footer">
    <strong>Copyright &copy; 2024-2026 <a href="#">UME Salon</a>.</strong>
    Tất cả quyền được bảo lưu.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>
